{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div class="container py-3 posts-container">
            <form action="{% url 'tweet' %}" method="POST" id="tweetle-form">
                {% csrf_token %}
                <textarea class="form-control" name="tweet-content" autofocus=True placeholder="Enter tweet"></textarea>
                <button class="btn btn-primary my-3" type="submit" name="action" value="tweet">Tweet</button>
            </form>
            <hr>
        </div>        
    {% endif %}

    {% for post in page_obj %}
        <div class="container py-3 posts-container">
    
            <div class="row">
                <div class="col-2">
                    <img class="rounded-circle img-fluid" id="poster-prof-pic" src="{% static post.author.pic_filename|default:'missing-profile-picture-icon.png' %}" alt="{{ comment.user.username }}">
                </div>
                <div class="col-4">
                    <a href="{% url 'profile' id=post.author.id %}"> <h3>{{ post.author.handle }} </h3> </a>
                </div>
                
                {% if user.is_authenticated and user == post.author %}
                <div class="col-6 text-end"> 
                    <button class="btn btn-primary mx-3" type="button" onclick="editPost('{{ post.id }}')" name="action" id="btn-edit-post-{{ post.id }}" value="edit">Edit</button>
                </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col lead my-3" id="post-{{ post.id }}">{{ post.content }}</div>
            </div>    

            <div class="row">
                <div class="col"> 
                    <small>Posted: {{ post.created_at }}</small>
                </div>
                <div class="like-button col">
                    <div class="heart-bg">     
                        {% if user.id in post.is_liked_by_user_ids %}
                            <div class="heart-icon liked" id="heart-icon-{{ post.id }}" onclick="like('{{ post.id }}')" style="background: url('{% static 'network/heart.png' %}')"></div>
                        {% else %}
                            <div class="heart-icon" id="heart-icon-{{ post.id }}" onclick="like('{{ post.id }}')" style="background: url('{% static 'network/heart.png' %}')"></div>    
                        {% endif %}                        
                    </div>
                    <div class="likes-amount" id="likes-amount-{{ post.id }}">{{ post.total_likes }}</div>
                </div>
            </div>
            <hr>
        </div>
        {% empty %} No posts found
    {% endfor %}
    
    <div class="container posts-container py-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
                
            </ul>
        </nav>    
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    <script>
        var currentUser = '{{request.user}}';
    </script>
{% endblock %}
